{% extends 'superadmin/base.html' %} {% block content %}


<div class="container d-flex">
    <div class="col ps-5">
        <h3 class="mt-4 h5">All Categories :</h3>

        <ol class="list-group w-75">
            {% for category in category_list %}
            <li class="list-group-item">
                <div>
                    {{category}}
                    <a href="{% url 'superadmin:delete-category' category.id %}" class="text-danger"><svg
                            xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-x" viewBox="0 0 16 16">
                            <path
                                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                        </svg></a>
                </div>
            </li> 
            {% endfor %}
        </ol>
    </div>
    <div class="col my-5">
        <form action="" method="post">
            {% csrf_token %}
            <div class="mb-3 w-75">
                <label for="categoryname" class="form-label">New Category Name :</label>
                {{form.name}}
            </div>
            <button type="submit" class="btn btn-sm btn-info">Add</button>
        </form>
        {% if messages %}
        <div class="alert alert-success mx-auto w-50" role="alert">
            <div class="messages">
                {% for message in messages %}
                <div{% if message.tags %} class="{{ message.tags }}" {% endif %}>
                    {{ message }}
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    {% endblock %}
</div>

</div>