{% extends 'superadmin/base.html' %}

{% block content %}

<style>
    .active-button {
        height: 22px;
        border-radius: 11px;
        font-size: small;
        width: 80px;
        font-weight: 800;

    }
</style>

<div class="container m-3">
    <div class="row">
        <div class="col-10 border rounded-3 p-3" style="font-size: 12px;box-shadow:0px 0px 47px 27px #dfdddd ;">
            <table class="table table-striped-columns table-hover mt-3">
                <thead>
                    <th>Product Id</th>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Active</th>
                    <th>Stock</th>
                    <th>Details</th>
                </thead>
                {% for product in products %}
                <tbody>
                    <td class="text-center">{{product.id}}</td>
                    {% if product.image1 %}
                    <td><img src="{{product.image1.url}}" width="75" alt=""></td>
                    {% else%}
                    <td>product image1</td>
                    {% endif %}
                    <td>{{product.title}}</td>
                    <td>₹ {{product.price}}</td>
                    {% if product.is_active %}
                    <td style="color: rgb(32, 208, 32);" class="text-center"><svg xmlns="http://www.w3.org/2000/svg"
                            width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill"
                            viewBox="0 0 16 16">
                            <path
                                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                        </svg>
                    </td>
                    {% else %}
                    <td style="color: rgb(237, 37, 37);" class="text-center"><svg xmlns="http://www.w3.org/2000/svg"
                            width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                            <path
                                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
                        </svg>
                    </td>
                    {% endif %}

                    {% if product.stock > 10 %}
                    <td>
                        <div class="active-button text-center mx-auto mt-1"
                            style="background-color: rgb(138, 232, 129);color:rgb(9, 109, 22);">{{product.stock}}</div>
                    </td>
                    {% elif product.stock <= 10 and product.stock   > 0 %}
                        <td>
                            <div class="active-button text-center mx-auto mt-1"
                                style="background-color: rgb(236, 194, 102);color:rgb(142, 97, 13);">{{product.stock}}
                            </div>
                        </td>
                        {% else %}
                        <td>
                            <div class="active-button text-center  mx-auto mt-1"
                                style="background-color: rgb(238, 52, 38);color:rgb(164, 3, 3);font-size:smaller">out of stock</div>
                        </td>
                        {% endif %}
                        <td><a href="{% url 'superadmin:product-detail' product.id %}"
                                class="btn btn-sm btn-outline-info">Detail</a>
                        </td>
                </tbody>
                {% endfor %}
            </table>
        </div>
        <div class="col-1 border d-grid p-2 border rounded-3 m-3 ms-5" style="font-size: smaller;height:45vh;box-shadow:0px 0px 47px 27px #dfdddd ;">
            <a  type="button" href="{% url 'superadmin:add-brand' %}" class="my-2 btn btn-sm btn-outline-info ">Add Brand</a>
            <a  type="button" href="{% url 'superadmin:add-category' %}" class="my-2 btn btn-sm btn-outline-info ">Add
                Category</a>
            <a  href="{% url 'superadmin:add-new-product' %}" type="button" class=" my-2 btn btn-sm btn-outline-info">Add
                Product</a>
        </div>
    </div>
</div>
{% endblock %}